name: lint-json

on:
  workflow_call:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Clone github repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: "lts/*"
          cache: "npm"
      - name: Cache ropm dependencies
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
        with:
          path: |
            source/roku_modules
            components/roku_modules
          key: ropm-${{ hashFiles('package.json', 'package-lock.json') }}
          restore-keys: ropm-
      - name: Install npm dependencies
        run: npm ci
      - name: Validate JSON syntax
        run: npm run lint:json
