name: lint-markdown

on:
  workflow_call:

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - name: Clone github repo
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6
      - uses: actions/setup-node@395ad3262231945c25e8478fd5baf05154b1d79f # v6
        with:
          node-version: "lts/*"
          cache: "npm"
      - name: Cache ropm dependencies
        uses: actions/cache@9255dc7a253b0ccc959486e2bca901246202afeb # v5.0.1
        with:
          path: |
            source/roku_modules
            components/roku_modules
          key: ropm-${{ hashFiles('package.json', 'package-lock.json') }}
          restore-keys: ropm-
      - name: Install npm dependencies
        run: npm ci
      - uses: xt0rted/markdownlint-problem-matcher@1a5fabfb577370cfdf5af944d418e4be3ea06f27 # v3
      - name: Lint markdown files
        run: npm run lint:markdown
